
body.fi-body.fi-body-panel-admin.fi-body-has-navigation {
    overflow-x: visible !important;
}

.fi-main {
    overflow-x: visible !important;
}

.fi-page {
    overflow-x: visible !important;
}

.fi-resource-page {
    overflow-x: visible !important;
}
